{% load static %}

<div class="main__about">
    <div class="about__content">
        <h1 class="about__content__title">Bienvenue au Carat</h1>
        <p class="about__content__paragraph">Un cadre élégant pour un séjour inoubliable.</p>
    </div> 
    <div class="about__images">
        <img src={% static 'core/images/section_2.2.png'%} alt="Sas Hotel">
        <img class="second_img" src={% static 'core/images/section_2.1.png'%} alt="Sas Hotel">
    </div>
    <div class="about__infos">
        <p>Dans un cadre élégant et apaisant, <br>Le Carat vous ouvre les portes d’une expérience hôtelière singulière. <br>Ici, chaque instant devient un souvenir inoubliable.</p>
        <button class="primary-button" onclick="scroll_section(3)">S'inscrire</button>
    </div>
</div>