{% load static %}

<div class="main__restaurant" id="restaurant_section">
    <div class="restaurant__header">
        <h1>Restaurant et Bar</h1>
        <p>L’art de la table au Carat</p>
    </div>
    <div class="restaurant__image">
        <img src="{% static "core/images/restaurant.png" %}" alt="Image du Restaurant">
    </div>
    <div class="restaurant__infos">
        <img src="{% static "core/images/plateau_fdm.png" %}" alt="Plateau de fruit de mer">
        <div class="restaurant__infos__content">
            <div class = "restaurant__infos__p">
                <p>Notre carte est actuellement en cours de développement afin de vous offrir une expérience culinaire unique et savoureuse. Nous travaillons avec passion pour sélectionner les meilleurs produits et imaginer des plats qui sauront ravir tous les palais.</p>
            </div> 
        </div>
    </div>
</div>