{% load static %}

<section id="hero">
    <div class="hero_img">
        <img src="{% static "media/images_banner/banner_1.jpg" %}" alt="entrer hotel">
    </div>
    <div class="hero_content">
        <div class="navbar">
            <ul>
                <li>Chambres</li>
                <li>Services</li>
                <li>Contact</li>
            </ul>
            <div class="cta_container">
                <button class="primary-btn">Newsletter</button>
            </div>
        </div>
        <div class="date">
            <div>
                <h1>ouverture prevue <br><span class="space">le 25 mai 2025</span></h1>
                <div class="scroll_btn_container"> 
                    <img src="{% static "media/scroll_button.png" %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>