<div class="main__footer">
    <div class="footer__content">
        <div class="footer__text">
            <h2>Le Carat</h2>
            <p>Ceci est la première version du site web de notre hôtel. Certaines informations peuvent encore manquer, mais de nouvelles sections et services seront ajoutés prochainement afin d’améliorer votre expérience.</p>
        </div>
        <div class="go_top_button">
            <button class="primary-button" onclick="scroll_section(4)">revenir en haut</button>
        </div>
    </div>
    <div class="footer__sections">
        <div class="footer__pages">
            <h3>Pages</h3>
            <div class="pages">
              <li>Présentation</li>
              <li>Nos Chambres</li>
              <li>Services et Experiences</li>
              <li>Restaurant et bar</li>
            </div>
        </div>
        <div class="footer__mentions">
            <h3>Mentions légales</h3>
            <div class="mentions">
                <li>Mentions légales</li>
                <li>Politique de confidentialité (RGPD)</li>
                <li>Politique cookies</li>
            </div>
        </div>
    </div>
</div>