{% load static %}

<div class="main__about">
    <div class="about__content">
        <h1>Bienvenue au Carat</h1>
        <p>Lorem ipsum dolor sit consectetur Lorem ipsum dolor sit consectetur </p>
    </div>
    <div class="about__images">
        <img src={% static core/images/%%} alt="Sas Hotel">
        <img src={% static core/images/%%} alt="Sas Hotel">
    </div>
    <div class="about__infos">
        <p>’’Lorem ipsum dolor sit consectetur Lorem ipsum dolor sit consectetur Lorem ipsum dolor sit consectetur Lorem ipsum dolor sit consectetur ’’</p>
    </div>
</div>