{% load static %}

<div class="main__about">
    <div class="about__content">
        <h1 class="about__content__title">Bienvenue au Carat</h1>
        <p class="about__content__paragraph">Lorem ipsum dolor sit consectetur Lorem ipsum dolor sit consectetur </p>
    </div> 
    <div class="about__images">
        <img src={% static 'core/images/section_2.2.png'%} alt="Sas Hotel">
        <img class="second_img" src={% static 'core/images/section_2.1.png'%} alt="Sas Hotel">
    </div>
    <div class="about__infos">
        <p>’’Lorem ipsum dolor sit <br>consectetur Lorem ipsum dolor sit consectetur <br>Lorem ipsum dolor sit consectetur Lorem ipsum dolor sit consectetur ’’</p>
    </div>
</div>