{% load static %}

<div class="main">
    <img class="hero__banner" src="{% static 'core/images/banner_1.png' %}" alt="Entrée de l'Hotel">
    <div class="navbar">
        <div class="burger__menu">
            <img src="{% static 'core/images/sidebar-icon.png' %}" alt="" class="icon-sidebar">
        </div>
        <button class="cta-contact secondary-button">Contactez-Nous</button>
    </div>
    <div class="hero__content">
        <div class="hero__blur">
            <h1>LE CARAT</h1>
            <p>Ouverture prévue le 25 mai 2026</p>
        </div>
        <button class="primary-button">Nos Chambres</button>
    </div>
</div>