.main__about {
    width: 100%;
    padding: 8rem 4rem 8rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    box-sizing: border-box;
}

.about__content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.about__content h1, p {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.about__images {
    width: 100%;
    display: flex;
    gap: 5rem;
}

.about__images img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about__images .second_img {
  flex: 1 1 0;    /* peut grandir/rétrécir, base 0 */
  min-width: 0;   /* autorise à rétrécir */
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.about__infos {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about__infos p{
    font-style: italic;
}

.about__infos button{
    max-width: 60%;
}

/* javascrip var */

.char {
    display: inline-block;
    transform: translateY(110px);
    transition: transform .5s;
}

@media (max-width: 768px) {
    .about__images {
        flex-direction: column;
    }

    .about__infos button{
        max-width: 100%;
    }
}